<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro de Eventos e Convidados</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <header>
        <h1>Ocorreu um erro em tempo de execução.</h1>
    </header>
    <section>
        <p>
            <strong>Detalhes:</strong><br/>
            <hr/>
            <%= error.message %>

            <br />
            <hr/>
            <strong>Status:</strong>
            <%= error.status %>

            <a href="/">Página inicial</a>
        </p>
    </section>
    <footer>
        <small>Sistema de Cadastro de Eventos e Convidados</small>
    </footer>
</body>

</html>